<div class="contact-agent">
  <div class="agent">
    <div class="agent-img">
      <img src="assets/media/agent.jpg" />
    </div>
    <div class="agent_info">
      <p class="agent_name">Brenda Angevin</p>
      <h5 class="agent_agency">Agent Commercial</h5>
    </div>
  </div>
  <div class="contact_info">
    <div class="contact_call">
      <svg><use href="assets/svg/sprite.svg#call"></use></svg>
      <span>06 63 20 95 94</span>
    </div>
    <div class="contact_separator"></div>
    <div class="contact_message">
      <svg><use href="assets/svg/sprite.svg#message"></use></svg>
      <span>Courriel</span>
    </div>
  </div>
</div>
