.select_wrapper{
  transition: all .2s ease-in;
  margin-bottom: .8rem;
  padding: .5rem 1rem 0;
  border-radius: 0.8rem;
  color: #4E4E4E;
  svg{
    transition: all .2s ease-in;
    width: 2rem;
    height: 2rem;
    fill: #FF0099;
  }
  .label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    //margin-bottom: .3rem;
    padding: .8rem 0;
    //border-radius: .8rem;
    border-bottom: 1px solid #bbb;
    span{
      display: block;
      width: 2rem;
      margin-right: 1rem;
      img{
        width: 100%;
      }
    }

    a{
      flex-grow: 1;
      background: none;
      border: none;
      font-family: "Montserrat", sans-serif;
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: uppercase;
      text-align: left;
      outline: none;
      span{
        display: inline;
        margin-right: .5rem;
      }
    }
  }
  .items{
    transition: all .1s ease-in;
    backface-visibility: hidden;
    //height: 0;
    overflow: hidden;
    ul{
      height: 0;
      max-height: 25rem;
      overflow-y: scroll;
      list-style: none;
      //padding: 1rem 0;
      border-radius: 0 0 0.8rem 0.8rem;
      display: grid;
      row-gap: .5rem;
      li{
        &:first-of-type{
          margin-top: 1rem;
        }
        a{
          transition: all .2s ease-in;
          display: flex;
          //padding: .5rem 0;
          padding: 1.3rem 1rem;
          align-items: center;
          height: 2rem;
          font-size: 1.2rem;
          font-weight: 600;
          text-transform: uppercase;
          color: #F7F7F7;
          text-align: center;
          &:active{
            background-color: lighten($color: #4e4e4e, $amount: 5)
          }
        }
      }
      .validate{
        display: flex;
        justify-content: flex-end;
        a{
          display: block;
          padding: .5rem 2rem;
          font-size: 1.1rem;
          font-weight: 600;
          text-transform: uppercase;
          color: white;
          background-color: #ff0099;
          border-radius: 2rem;
          margin-bottom: 1.5rem;
        }

      }
    }
  }

  .rotateChevron{
    transform: rotateZ(180deg);
  }
}

.dropDown{
  background-color: #414040;
  color: white;
  padding: .5rem 2rem 0;
}

.marked{
  //background-color: lighten(#4e4e4e, 5);
  &::before{
    content: '';
    display: inline-block;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #ff0099;
    margin-right: 1rem;
  }
}
