@media screen and (min-width: 500px) {
  .header{
    padding: 3rem 0 2rem;
  }
}
header{
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  padding: 2rem 0 1rem;
  background-color: white;
  .menu_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
      width: 2.5rem;
      height: 2.5rem;
      fill: #4E4E4E;
    }
  }
  h1{
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
      width: 5.7rem;
      height: 4.5rem;
    }
  }
  .fav{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      position: relative;
      svg{
        width: 2.5rem;
        height: 2.5rem;
        fill: #ff0099;
      }
      span{
        position: absolute;
        left: -1.8rem;
        top: -.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ff0099;
        border: 2px solid white;
        border-radius: 1rem;
        width: 3rem;
        height: 2rem;
        color: white;
        font-weight: 900;
      }
    }

  }
}
