header{
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  padding: .5rem 0;
  background-color: white;
  border-bottom: 2px solid #FF0099;
  box-shadow: 0 4px 5px rgba(black, .05);
  .menu_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
      width: 2.5rem;
      height: 2.5rem;
      fill: #4E4E4E;
    }
  }
  h1{
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
      width: 6.7rem;
      height: 5.5rem;
    }
  }
  nav{
    display: none;
  }
  .fav{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      position: relative;
      svg{
        width: 2.5rem;
        height: 2.5rem;
        fill: #ff0099;
      }
      span{
        position: absolute;
        left: -1.8rem;
        top: -.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ff0099;
        border: 2px solid white;
        border-radius: 1rem;
        width: 3rem;
        height: 2rem;
        color: white;
        font-weight: 900;
      }
    }

  }
}
@media screen and (min-width: 768px) {
  .header{
    padding: 0 2rem;
    grid-template-columns: auto 1fr 8rem;
    column-gap: 2rem;
    .menu_icon{
      display: none;
    }
    h1{
      //justify-content: start;
      //padding: 0 1rem;
      svg{
        width: 10rem;
        height: 7rem;
        fill: #4e4e4e;
      }
    }
    nav{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      a{
        font-size: 1.1rem;
        font-weight: 600;
        color: #4e4e4e;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        &:not(:last-of-type){
          margin-right: 2.5rem;
        }
      }
    }
    .fav{
      //justify-content: flex-end;
      //align-items: flex-end;
    }
  }
}

//////////////////////////////////////
//Helpers
.borderBottom{
  border-bottom: 2px solid #FF0099;
  box-shadow: 0 4px 5px rgba(black, .05);
}
