<footer class="footer">
  <h1 class="logo">
    <svg>
      <use href="assets/svg/logo.svg#logo"></use>
    </svg>
  </h1>
  <div class="social">
    <div class="twitter">
      <svg>
        <use href="assets/svg/sprite.svg#twitter"></use>
      </svg>
    </div>
    <div class="instagram">
      <svg>
        <use href="assets/svg/sprite.svg#instagram"></use>
      </svg>
    </div>
    <div class="facebook">
      <svg>
        <use href="assets/svg/sprite.svg#facebook"></use>
      </svg>
    </div>
  </div>
  <div class="menu">
    <ul role="menu">
      <li><a role="menuitem" routerLink="rental/types">louer</a></li>
      <li><a role="menuitem" routerLink="buy/types">acheter</a></li>
      <li><a role="menuitem" routerLink="offers">offres</a></li>
      <li>
        <a role="menuitem" routerLink="recommendations">recommendations</a>
      </li>
      <li><a role="menuitem" routerLink="contact">contact</a></li>
    </ul>
  </div>
  <div class="author">
    <p>made with</p>
    <svg><use href="assets/svg/sprite.svg#heart"></use></svg>
    <p>by <span>herm.</span></p>
  </div>
</footer>
