<div class="rental-container">
  <div class="rental-illustrations">
    <div class="illustration">
      <svg>
        <use href="assets/media/illustrations/sprite.svg#buy"></use>
      </svg>
    </div>
  </div>
  <h1><span>358</span> biens en vente.</h1>
  <div class="rental-types">
    <div class="type">

      <div>
        <div class="icon">
          <svg>
            <use href="assets/svg/sprite.svg#buy-apart"></use>
          </svg>
        </div>
        <div class="divider"></div>
        <p>achat<br>d'<span>appart.</span></p>
      </div>

    </div>
    <div class="type">

      <div>
        <div class="icon">
          <svg>
            <use href="assets/svg/sprite.svg#buy-land"></use>
          </svg>
        </div>
        <div class="divider"></div>
        <p>achat<br>de <span>terrain.</span></p>
      </div>

    </div>
    <div class="type">
      <div>
        <div class="icon">
          <svg>
            <use href="assets/svg/sprite.svg#buy-home"></use>
          </svg>
        </div>
        <div class="divider"></div>
        <p>achat<br>de <span>maison.</span></p>
      </div>

    </div>
    <div class="type">
      <div>
        <div class="icon">
          <svg>
            <use href="assets/svg/sprite.svg#rental-commercial"></use>
          </svg>
        </div>
        <div class="divider"></div>
        <p>achat<br><span>commercial.</span></p>
      </div>

    </div>
    <div class="type">
      <div>
        <div class="icon">
          <svg>
            <use href="assets/svg/sprite.svg#rental-all"></use>
          </svg>
        </div>
        <div class="divider"></div>
        <p>location<br><span>tou type.</span></p>
      </div>

    </div>
  </div>
</div>
