.contact_form_container {
  //background-color: #fafafa;
  border-radius: 1rem;
  padding: 1rem 2rem;
  color: #707070;
  //box-shadow: 0 0 0.5rem rgba(black, 0.25);
  .form-title {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    margin: 2.5rem 0;
  }
  #contact-form {
    display: grid;
    row-gap: 2.5rem;
    .contact-form {
      .contact-form__input {
        position: relative;
        border-bottom: 1px solid #b1b1b1;
        padding: 1rem 0.5rem;
        svg {
          position: absolute;
          top: 1.3rem;
          left: 0;
          width: 2rem;
          height: 2rem;
        }
        input, textarea {
          font-family: inherit;
          font-size: inherit;
          color: inherit;
          font-weight: 600;
          padding: 0.5rem 0.5rem 0.5rem 2.5rem;
          background: none;
          border: none;
          outline: none;
          width: 100%;
          &::placeholder {
            font-weight: 400;
          }
        }
        input[type="datetime-local"] {
          &::-webkit-calendar-picker-indicator {
            opacity: 0;
            width: 20%;
          }
          &::before {
            content: "";
            display: inline-block;
            border-right: 2px solid #4e4e4e;
            border-bottom: 2px solid #4e4e4e;
            transform: rotate(45deg);
            width: 1rem;
            height: 1rem;
            position: absolute;
            right: 1rem;
          }
        }
      }
    }
    .add-message {
      font-size: 1.4rem;
      font-weight: 500;
      color: #ff0099;
      background-image: linear-gradient(to right, #eaeaea 50%, transparent 50%);
      background-size: 200% 100%;
      background-position: 85% bottom;
      transition: all 0.2s ease-out;
      cursor: pointer;
      padding: 0.5rem 0.9rem;
      width: max-content;
      border-radius: .5rem;
      &:hover {
        background-position: left bottom;
        border-radius: .5rem;
      }
      span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        margin-right: 1rem;
        font-size: 2rem;
        font-weight: 500;
        //background-color: #eaeaea;
        //width: 2rem;
        //height: 2rem;
        //border-radius: 50%;
      }
    }
    .disclaimer {
      font-weight: 500;
      span {
        color: #ff0099;
      }
    }
    .send-message_btn {
      //justify-self: end;
      border: none;
      outline: none;
      text-align: center;
      font-weight: 600;
      font-size: 1.6rem;
      background-color: #ff0099;
      color: white;
      cursor: pointer;
      padding: 1rem;
      border-radius: .5rem;
      transition: background-color 0.2s ease-out;
      &:hover {
        background-color: #cc007a;
      }
    }
  }
}
