<div class="home_container">
  <section class="start_filter">
    <form (ngSubmit)="onSubmit()" [formGroup]="filterReducedForm">
      <div>
        <app-switch [switchValues]="{label: 'action', values: ['louer', 'acheter']}" bgColor="transparent" (onSwitch)="assignValue($event)"></app-switch>
        <app-custom-select [selectOption]="selectArray[0]" (onItem)="assignValue($event)"></app-custom-select>
        <app-select-multiple [selectOption]="selectArray[1]" (onItem)="assignValue($event)"></app-select-multiple>
      </div>
      <div>
        <button type="submit">
          <span>valider</span>
          <span></span>
        </button>
      </div>
    </form>
    <p><i></i>2596 appartement sur marrakech.</p>
  </section>
  <section class="pannel">
    <div class="bg_video">
      <video class="bg-video-content" [poster]="'assets/media/videos/video-placeholder.png'" autoplay muted loop>
        <source [src]="'assets/media/videos/video.mp4'" type="video/mp4">
        <source [src]="'assets/media/videos/video.webm'" type="video/webm">
      </video>
    </div>
    <p class="slogan">just making it simple for <span>you.</span></p>
  </section>
  <section class="highlight">
    <div class="titles">
      <h2 class="section_title">biens en <span class="pinky_bold">vedette.</span></h2>
      <h3 class="section_subtitle">des produits phares selectionnés par nos équipes.</h3>
    </div>
    <div class="cards" *ngFor="let apart of apartsArray; index as i">
        <app-highlight-product [apart]="apart" [carouselId]="i"></app-highlight-product>
    </div>
  </section>
  <section class="about">
    <div class="titles">
      <h2 class="section_title">en <span class="pinky_bold">principes.</span></h2>
      <h3 class="section_subtitle">des pratiques sacrees pour vous mettre a l’aise.</h3>
    </div>
    <div class="about_content">
      <figure>
        <img [src]="'assets/media/illustrations/about.svg'" alt="">
      </figure>
      <p>
        <span>aller droit au but.</span>
        Locatia met en evidence le produit immobilier en s'appuyant sur des piliers artistiques et technologiques de dernier cri a savoir: la photo et la video immoblieres faites et traitees par notre equipe de photographes professionnels. Conception des tours de realite virtuelle 'LocatiaVR' qui vous met au milieu de l'espace du bien.
        Experience utilisateur fluide qui compte le moindre detail de ce que vous cherchez.
      </p>
    </div>
  </section>
  <section class="week_home">
    <div class="titles">
      <h2 class="section_title">apparttemet de la <span class="pinky_bold">semaine.</span></h2>
    </div>
  </section>
  <!--<section class="offers">
    <div class="titles">
      <h2 class="section_title">offres <span class="pinky_bold">exclusives.</span></h2>
      <h3 class="section_subtitle">des offres exclusives suite a un large reseau d’agence et promoeteurs immobiliers.</h3>
    </div>
  </section>-->
  <section class="destinations">
    <div class="titles">
      <h2 class="section_title">nos <span class="pinky_bold">destinations.</span></h2>
      <h3 class="section_subtitle">on couvre la plupart des villes et régions au maroc.</h3>
    </div>
    <ul class="city_list">
      <li *ngFor="let destination of destinations">
        <a routerLink="rental" [queryParams]="{city: destination}">{{destination}}</a>
      </li>
    </ul>
  </section>
  <section class="get_listed">
    <div class="titles">
      <h2 class="section_title">vous êtes <span class="pinky_bold">propriétaire ?</span></h2>
      <h3 class="section_subtitle">communiquez votre adresse email.</h3>
    </div>
    <div class="form">
      <form [formGroup]="getListedform" (ngSubmit)="onGetListed()">
        <input type="email" formControlName="email" name="email" placeholder="moi@email.com">
        <button type="submit">
          <span class="list_button_value">être listé</span>
          <svg>
            <use href="assets/svg/check.svg#check"></use>
          </svg>
        </button>
      </form>
    </div>
  </section>
  <footer class="footer">
    <h1 class="logo">
      <svg>
        <use href="assets/svg/logo.svg#logo"></use>
      </svg>
    </h1>
    <div class="social">
      <div class="twitter">
        <svg>
          <use href="assets/svg/sprite.svg#twitter"></use>
        </svg>
      </div>
      <div class="instagram">
        <svg>
          <use href="assets/svg/sprite.svg#instagram"></use>
        </svg>
      </div>
      <div class="facebook">
        <svg>
          <use href="assets/svg/sprite.svg#facebook"></use>
        </svg>
      </div>
    </div>
    <div class="menu">
      <ul role="menu">
        <li><a role="menuitem" routerLink="rental/types">louer</a></li>
        <li><a role="menuitem" routerLink="buy/types">acheter</a></li>
        <li><a role="menuitem" routerLink="offers">offres</a></li>
        <li><a role="menuitem" routerLink="recommendations">recommendations</a></li>
        <li><a role="menuitem" routerLink="contact">contact</a></li>
      </ul>
    </div>
    <div class="author">
      <p>made with</p><svg><use href="assets/svg/sprite.svg#heart"></use></svg><p>by <span>herm.</span></p>
    </div>
  </footer>
</div>
