.home_container {
  section {
    padding: 4rem;
    /*&:not(:first-of-type)::after{
      content: '';
      display: block;
      width: 4rem;
      height: .2rem;
      background-color: #bbbbbb;
      border-radius: 1rem;
      margin: 4rem auto 2rem;
    }*/
  }
  .start_filter {
    //display: none;
    //border-top: 2px solid #ff0099;
    background-color: #f7f7f7;
    padding: 2rem 4rem;
    box-shadow: 0 4px 5px rgba(black, 0.25);
    form {
      display: grid;
      row-gap: 1.5rem;
      > div:nth-child(2) {
        justify-self: end;
        padding-right: 1rem;
        //padding-bottom: .8rem;
      }
      button[type="submit"] {
        border: none;
        background-color: #ff0099;
        padding: 1rem 2.5rem;
        font-weight: 600;
        font-size: 1.2rem;
        border-radius: 2.5rem;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        outline: none;
        svg {
          display: none;
        }
      }
    }
    p {
      display: none;
      color: #707070;
      text-align: right;
    }
  }
  .pannel {
    position: relative;
    .bg_video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .bg-video-content {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    //padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .slogan {
      font-weight: 800;
      font-size: 4.5rem;
      color: white;
      text-shadow: 0 0 0.5rem rgba(black, 0.2);
      text-transform: uppercase;
      span {
        color: #ff0099;
      }
    }
  }
  .highlight {
    padding: 4rem;
    .cards {
      display: grid;
      justify-content: center;
      row-gap: 2rem;
      margin-top: 4rem;
    }
  }
  .about {
    padding: 4rem;
    &_content {
      figure {
        display: flex;
        justify-content: center;
        img {
          width: 80%;
        }
      }
      p {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #4e4e4e;
        text-align: center;
        font-size: 1.4rem;
        span {
          font-weight: 600;
          font-size: 0.8rem;
          color: darken(#4e4e4e, 5);
          display: block;
          text-align: center;
          text-transform: uppercase;
          padding: 0.5rem 1rem;
          background-color: #efefef;
          border-radius: 0.5rem;
          margin: 1rem;
        }
      }
    }
  }
  .week_home {
    background: url("../../assets/media/wide-bg.jpg") no-repeat center;
    background-size: cover;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .destinations {
    ul.city_list {
      display: grid;
      grid-template-columns: repeat(2, auto);
      justify-content: center;
      gap: 2rem;
      li {
        /*&::first-letter{
          color: #ff0099;
        }*/
        a {
          text-decoration: none;
          text-transform: uppercase;
          color: #707070;
          font-size: 1.2rem;
          font-weight: 600;
        }
      }
    }
  }
  .get_listed {
    margin: 1rem 0;
    padding: 3rem;
    background: url("../../assets/svg/logo-bg.svg") no-repeat,
      linear-gradient(145deg, #ff0099 0%, darken(#ff0099, 15) 100%);
    background-size: contain;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    h2,
    h3,
    span {
      color: white;
    }
    .form {
      //padding: 0 1rem;
    }
    form {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;
      border-bottom: 1px solid white;
      & > * {
        outline: none;
      }
      input[type="email"] {
        flex-grow: 1;
        background: none;
        border: none;
        color: white;
        padding: 0 0.5rem;
        font-weight: 600;
        &::placeholder {
          color: rgba(white, 0.5);
        }
      }
      button {
        display: flex;
        align-items: center;
        border: none;
        background: none;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1rem;
        color: #4e4e4e;
        &[role="button"] {
          color: rgba($color: #000000, $alpha: 0.5);
        }
        &::before {
          content: "";
          display: block;
          width: 0.1rem;
          height: 1.5rem;
          background-color: rgba(white, 0.5);
          margin-right: 1rem;
        }
        span {
          margin-right: 0.3rem;
        }
        svg {
          width: 2rem;
          height: 2rem;
          fill: white;
        }
      }
    }
  }
}
.titles {
  margin-bottom: 4rem;
}
.section_title {
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  color: #414040;
}
.section_subtitle {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(black, 0.6);
  text-align: center;
  text-transform: uppercase;
}
.pinky_bold {
  color: #ff0099;
  font-weight: 800;
}

@keyframes heartBeats {
  0% {
    transform: scale(0.66);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.66);
  }
}

@media screen and (min-width: 768px) {
  .home_container {
    .start_filter {
      form {
        grid-template-columns: 1fr 10rem;
        align-items: center;
        > div:first-of-type {
          display: grid;
          align-items: center;
          grid-template-columns: 1fr 2fr;
          .select-components {
            display: flex;
            > * {
              flex-grow: 1;
            }
          }
        }
        > div:last-of-type {
          justify-self: end;
          padding: 0;
        }
        button[type="submit"] {
          padding: 0;
          font-size: 1.1rem;
          background-color: transparent;
          display: flex;
          align-items: center;
          color: #4e4e4e;
          font-weight: 500;
          svg {
            display: inline-block;
            width: 2.5rem;
            height: 2.5rem;
            fill: #ff0099;
          }
        }
      }
    }
    .pannel {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50rem;
      .slogan {
        text-justify: inter-word;
        text-align: center;
      }
    }
    .highlight {
      .titles {
      }
      .cards {
        display: flex;
        justify-content: center;
        > *:not(:last-of-type) {
          margin-right: 3rem;
        }
      }
    }
    .about {
      .about_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        figure {
          max-width: 50%;
        }
        p {
          max-width: 60%;
        }
      }
    }
    .destinations {
      ul.city_list {
        grid-template-columns: repeat(3, auto);
        column-gap: 5rem;
        li {
          text-align: center;
          &:last-of-type {
            grid-column: 2 / 3;
            grid-row: 6 / 7;
          }
          a {
            transition: all 0.1s ease-in;
            &:hover {
              color: #ff0099;
            }
          }
        }
      }
    }
    .get_listed {
      display: flex;
      align-items: center;
      justify-content: center;
      .titles {
        margin-bottom: unset;
        margin-right: 4rem;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  section {
    margin: 8rem 0;
  }
  .home_container {
    .start_filter {
      margin: 0;
      form {
        display: flex;
        justify-content: space-between;
        > div:first-of-type {
          > div {
            margin-left: 3rem;
          }
        }
        > div:last-of-type {
        }
      }
      p {
        //display: flex;
        justify-content: flex-end;
        align-items: center;
        i {
          margin-right: 0.5rem;
          svg {
            width: 1.5rem;
            height: 1.5rem;
            fill: #707070;
          }
        }
      }
    }
    .pannel {
      height: 70rem;
      margin: 0;
    }
    .about {
      display: flex;
      flex-direction: column;
      align-items: center;
      .about_content {
        //background-color: yellowgreen;
        width: 60%;
        flex-direction: unset;
        align-items: stretch;
        figure {
          //width: 50%;
        }
        p {
          text-align: left;
          max-width: 45%;
          span {
            align-self: flex-start;
            margin-left: 0;
            font-size: 1rem;
          }
        }
      }
    }
    .week_home {
      height: 60rem;
    }
    .destinations {
      ul.city_list {
        grid-template-columns: repeat(4, auto);
        li {
          text-align: left;
          &:last-of-type {
            grid-column: unset;
            grid-row: unset;
          }
        }
      }
    }
    .get_listed {
      margin: 8rem 0;
      padding: 5rem;
      .titles {
        margin-right: 8rem;
      }
    }
  }
}
