.home_container{
  section{
    &:not(:first-of-type)::after{
      content: '';
      display: block;
      width: 4rem;
      height: .2rem;
      background-color: #bbbbbb;
      border-radius: 1rem;
      margin: 4rem auto 2rem;

    }
  }
  .start_filter{
    //display: none;
    border-top: 2px solid #ff0099;
    background-color: #F7F7F7;
    padding: 2rem 4rem;
    box-shadow: 0 4px 5px rgba(black, .25);
    form{
      display: grid;
      row-gap: 1.5rem;
      > div:nth-child(2) {
        justify-self: end;
        padding-right: 1rem;
        padding-bottom: .8rem;
      }
      button[type=submit] {
        border: none;
        background-color: #ff0099;
        padding: 1rem 2.5rem;
        font-weight: 600;
        font-size: 1.2rem;
        border-radius: 2.5rem;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        outline: none;
      }
    }
    p{
      display: none;
      color: #707070;
      text-align: right;
    }
  }
  .pannel{
    position: relative;
    .bg_video{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .bg-video-content{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    padding: 4rem 4rem 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .slogan{
      font-weight: 800;
      font-size: 4.5rem;
      color: white;
      text-shadow:  0 0 .5rem rgba(black, .2);
      text-transform: uppercase;
      max-width: 30rem;
      span{
        color: #ff0099;
      }
    }
  }
  .highlight{
    padding: 4rem;
    .cards{
      display: grid;
      row-gap: 2rem;
      margin-top: 4rem;
    }
  }
}
.section_title{
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  color: #414040;
}
.section_subtitle{
  font-size: .8rem;
  font-weight: 400;
  color: rgba(black, .6);
  text-align: center;
  text-transform: uppercase;
}
.pinky_bold{
  color: #ff0099;
  font-weight: 800;
}
