<div class="rental-container">
  <div class="rental-illustrations">
    <div class="illustration">
      <svg>
        <use href="assets/media/illustrations/sprite.svg#rental"></use>
      </svg>
    </div>
  </div>
  <h1><span>358</span> biens en locations.</h1>
  <div class="rental-types">
    <div class="type">

      <div>
        <div class="icon">
          <svg>
            <use href="assets/svg/sprite.svg#rental-classic"></use>
          </svg>
        </div>
        <div class="divider"></div>
        <p>location<br><span>classique.</span></p>
      </div>

    </div>
    <div class="type">

      <div>
        <div class="icon">
          <svg>
            <use href="assets/svg/sprite.svg#rental-travel"></use>
          </svg>
        </div>
        <div class="divider"></div>
        <p>location<br>de <span>vacances.</span></p>
      </div>

    </div>
    <div class="type">
      <div>
        <div class="icon">
          <svg>
            <use href="assets/svg/sprite.svg#rental-temporal"></use>
          </svg>
        </div>
        <div class="divider"></div>
        <p>location<br><span>temporaire.</span></p>
      </div>

    </div>
    <div class="type">
      <div>
        <div class="icon">
          <svg>
            <use href="assets/svg/sprite.svg#rental-commercial"></use>
          </svg>
        </div>
        <div class="divider"></div>
        <p>location<br><span>commerciale.</span></p>
      </div>

    </div>
    <div class="type">
      <div>
        <div class="icon">
          <svg>
            <use href="assets/svg/sprite.svg#rental-all"></use>
          </svg>
        </div>
        <div class="divider"></div>
        <p>location<br><span>tou type.</span></p>
      </div>

    </div>
  </div>
</div>
