<div class="rental-container">
  <div class="rental-illustrations">
    <div class="illustration">
      <img src="https://cdn.pixabay.com/photo/2018/02/08/15/32/home-3139685_960_720.jpg" alt="rental">
    </div>
  </div>
  <h1><span>358</span> bien en locations.</h1>
  <div class="rental-types">
    <div class="type">
      <div class="icon">
        <svg>
          <use href="assets/svg/sprite.svg#rental-classic"></use>
        </svg>
      </div>
      <div class="divider"></div>
      <p>location<br><span>classique.</span></p>
    </div>
    <div class="type">
      <div class="icon">
        <svg>
          <use href="assets/svg/sprite.svg#rental-travel"></use>
        </svg>
      </div>
      <div class="divider"></div>
      <p>location<br>de <span>vacances.</span></p>
    </div>
    <div class="type">
      <div class="icon">
        <svg>
          <use href="assets/svg/sprite.svg#rental-temporal"></use>
        </svg>
      </div>
      <div class="divider"></div>
      <p>location<br><span>temporaire.</span></p>
    </div>
    <div class="type">
      <div class="icon">
        <svg>
          <use href="assets/svg/sprite.svg#rental-commercial"></use>
        </svg>
      </div>
      <div class="divider"></div>
      <p>location<br><span>commerciale.</span></p>
    </div>
    <div class="type">
      <div class="icon">
        <svg>
          <use href="assets/svg/sprite.svg#rental-all"></use>
        </svg>
      </div>
      <div class="divider"></div>
      <p>location<br><span>tou type.</span></p>
    </div>
  </div>
</div>
