<div class="details-container">
  <div class="back">
    <a routerLink="/aparts">
      <svg>
        <use href="assets/svg/arrow-left.svg#arrow-left"></use>
      </svg>
    </a>
  </div>
  <div class="gallery">
    <app-carousel [imgSources]="apart.images" id="0"></app-carousel>
  </div>
  <div class="wrapper">
    <div class="gallery-media-navigators">
      <ul>
        <li>
          <a>
            <svg>
              <use href="assets/svg/sprite.svg#video"></use>
            </svg>
            <span class="gallery-btn-label">Vidéo</span>
          </a>
        </li>
        <span class="pink_dot"></span>
        <li>
          <a>
            <svg>
              <use href="assets/svg/sprite.svg#box"></use>
            </svg>
            <span class="gallery-btn-label">Tour 3D</span>
          </a>
        </li>
        <span class="pink_dot"></span>
        <li>
          <a>
            <svg>
              <use href="assets/svg/sprite.svg#film"></use>
            </svg>
            <span class="gallery-btn-label">Vidéohive</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="details">
      <section class="specification">
        <div class="id">
          <span class="apart-id"><span>#</span>{{ apart.human_id }}</span>
          <p class="type">
            {{ apart.property }}
          </p>
          <a class="register">
            <svg><use href="assets/svg/sprite.svg#heart"></use></svg>
          </a>
        </div>
        <div class="price">
          <div *ngIf="apart.oldPrice" class="old">
            {{ apart.oldPrice }}
          </div>
          <div class="current">{{ apart.price }}</div>
          <div class="units">
            <p>DH</p>
            <p>/ {{ apart.period }}</p>
          </div>
        </div>
        <div class="address">
          <p class="value">
            {{ apart.address[0] }}
          </p>
          <p class="sub">
            {{ apart.address[1] }} {{ apart.zip }}
            <span class="pink_dot"></span>
            <span class="city capital">{{ apart.city }}</span>
          </p>
        </div>
        <div class="components">
          <div class="surface">
            <p class="value">
              {{ apart.surface < 10 ? "0" + apart.surface : apart.surface }}
            </p>
            &nbsp;
            <span>m<sup>2</sup></span>
          </div>
          <div class="pieces">
            <p class="value">
              {{ apart.pieces < 10 ? "0" + apart.pieces : apart.pieces }}
            </p>
            &nbsp;
            <span class="measure_full">pieces</span>
          </div>
          <div class="rooms">
            <p class="value">
              {{ apart.rooms < 10 ? "0" + apart.rooms : apart.rooms }}
            </p>
            &nbsp;
            <span class="measure_full">chambres</span>
          </div>
          <div *ngIf="apart.floors > 0" class="floors">
            <p class="value">
              {{ apart.floors < 10 ? "0" + apart.floors : apart.floors }}
            </p>
            &nbsp;
            <span class="measure_full">étages</span>
          </div>
        </div>
      </section>
      <section class="main-content">
        <article class="apart-content">
          <h2 class="title">à propos.</h2>
          <div class="description">
            <h3>description.</h3>
            <p>{{ apart.description }}</p>
          </div>
          <div class="external">
            <h3>depuis l’extérieur.</h3>
            <ul class="composers">
              <li *ngFor="let ext of apart.external">
                {{ ext }}
              </li>
            </ul>
          </div>
          <div class="internal">
            <h3>à l’intérieur.</h3>
            <ul class="composers">
              <li *ngFor="let int of apart.internal">
                {{ int }}
              </li>
            </ul>
          </div>
          <div class="conditions">
            <h3>conditions d’exploitation.</h3>
            <ul class="composers">
              <li *ngFor="let cond of apart.conditions">
                {{ cond }}
              </li>
            </ul>
          </div>
        </article>
        <article class="disclaimer">
          <p>
            Vous pouvez demander au responsable du bien a propos des conditions
            de location et des frais secondaire qui peuvent être applique ou de
            nature fréquente comme cotisation syndicale etc...
          </p>
        </article>
        <article class="map">
          <h2 class="title">position sur map.</h2>
          <div>
            <app-here-map
              [lat]="apart.location.lat"
              [lng]="apart.location.lng"
            ></app-here-map>
          </div>
        </article>
        <article class="open-hours">
          <h2 class="title">horaire de travail</h2>
          <p class="summer-alert">
            <svg><use href="assets/svg/sprite.svg#alert"></use></svg>
            Pendant la période d’été nous retardons 2 heures de plus le soir.
          </p>
          <ul class="datetime-info">
            <li>
              <p class="day">Lundi</p>
              <span class="separator"></span>
              <div class="hours">
                <p>10:35</p>
                <span class="pink_dot"></span>
                <p>17:30</p>
              </div>
            </li>
            <li>
              <p class="day">Mardi</p>
              <span class="separator"></span>
              <div class="hours">
                <p>10:35</p>
                <span class="pink_dot"></span>
                <p>17:30</p>
              </div>
            </li>
            <li>
              <p class="day">Mercredi</p>
              <span class="separator"></span>
              <div class="hours">
                <p>10:35</p>
                <span class="pink_dot"></span>
                <p>17:30</p>
              </div>
            </li>
            <li>
              <p class="day">Jeudi</p>
              <span class="separator"></span>
              <div class="hours">
                <p>10:35</p>
                <span class="pink_dot"></span>
                <p>17:30</p>
              </div>
            </li>
            <li>
              <p class="day">Samedi</p>
              <span class="separator"></span>
              <div class="hours">
                <p>08:30</p>
                <span class="pink_dot"></span>
                <p>18:30</p>
              </div>
            </li>
            <li>
              <p class="day">Dimanche</p>
              <span class="separator"></span>
              <div class="hours">
                <p>08:30</p>
                <span class="pink_dot"></span>
                <p>18:30</p>
              </div>
            </li>
            <li>
              <p class="day">Lundi</p>
              <span class="separator"></span>
              <div class="hours">
                <p>10:35</p>
                <span class="pink_dot"></span>
                <p>17:30</p>
              </div>
            </li>
          </ul>
        </article>
      </section>
    </div>
    <div class="contact">
      <div class="contact-sticky">
        <app-contact-agent></app-contact-agent>
        <app-contact-form class="contact_form"></app-contact-form>
      </div>
    </div>
  </div>
</div>
