<div class="details-container">
  <div class="back">
    <a routerLink="/aparts">
      <svg>
        <use href="assets/svg/arrow-left.svg#arrow-left"></use>
      </svg>
    </a>
  </div>
  <div class="gallery">
    <app-carousel [imgSources]="apart.images" id="0"></app-carousel>
  </div>
  <div class="specification">
    <section>
      <h2 class="title">caractéristiques.</h2>
      <div class="content">
        <div class="id">
          <span class="pink">#</span>
          <span>{{apart.human_id}}</span>
          <p class="type pink_dot capital">{{apart.property}}</p>
        </div>
        <div class="price">
          <div></div>
          <div class="data">
            <div *ngIf="apart.oldPrice" class="old">{{apart.oldPrice}}</div>
            <div class="current">{{apart.price}}</div>
            <div class="units">
              <p>DH</p>
              <p> / {{apart.period}}</p>
            </div>
          </div>
        </div>
        <div class="address">
          <span class="label">adresse</span>
          <p class="value"><span class="capital">{{apart.address[0]}}</span></p>
          <p class="sub">{{apart.address[1]}}, {{apart.zip}} <span class="city capital pink_dot">{{apart.city}}</span></p>
        </div>
        <div class="components">
          <div class="surface">
            <span class="label">surface</span>
            <p class="value">{{apart.surface < 10 ? '0'+apart.surface : apart.surface}} <span>m<sup>2</sup></span><i class="dot"></i></p>
          </div>
          <div class="pieces">
            <span class="label">pièces</span>
            <p class="value">{{apart.pieces < 10 ? '0'+apart.pieces : apart.pieces}} <span>p</span><i class="dot"></i></p></div>
          <div class="rooms">
            <span class="label">chambres</span>
            <p class="value">{{apart.rooms < 10 ? '0'+apart.rooms : apart.rooms}} <span>c</span><i class="dot"></i></p></div>
          <div *ngIf="apart.floors > 0" class="floors">
            <span class="label">étages</span>
            <p class="value">{{apart.floors < 10 ? '0'+apart.floors : apart.floors}} <span>e</span><i class="dot"></i></p></div>
        </div>
      </div>
    </section>
  </div>
  <div class="wrapper">
    <div>
      <div class="details">
        <section>
          <h2 class="title">position sur map.</h2>
          <app-here-map [lat]="apart.location.lat" [lng]="apart.location.lng"></app-here-map>
        </section>
        <section>
          <h2 class="title">à propos.</h2>
          <div class="description">
            <h3>description.</h3>
            <p>{{apart.description}}</p>
          </div>
          <div class="extrernal">
            <h3>depuis l’extérieur.</h3>
            <ul class="composers">
              <li *ngFor="let ext of apart.external">
                {{ext}}
              </li>
            </ul>
          </div>
          <div class="internal">
            <h3>à l’intérieur.</h3>
            <ul class="composers">
              <li *ngFor="let int of apart.internal">
                {{int}}
              </li>
            </ul>
          </div>
          <div class="recap">
            <h2>Location journalière à :</h2>
            <div class="recap_price">350 dh</div>
            <div class="conditions">
              <h4>Conditions à remplir</h4>
              <ul>
                <li *ngFor="let cond of apart.conditions">
                  {{cond}}
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <div class="contact">
        <div class="contact_form">
          <app-contact-form></app-contact-form>
        </div>
      </div>
    </div>

  </div>

</div>
