.details-container {
  display: grid;
  row-gap: 2rem;
  color: #4e4e4e;
  margin-bottom: 5rem;
  .back {
    margin-top: 2rem;
    a {
      text-decoration: none;
      font-size: 1.6rem;
      color: #4e4e4e;
      display: flex;
      align-items: center;
      width: max-content;
      svg {
        width: 3rem;
        height: 2.5rem;
        fill: currentColor;
      }
    }
  }
  .gallery {
    position: relative;
    overflow: hidden;
    justify-self: center;
  }
  .wrapper {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-items: start;
    //margin: 0 1.5rem;
    > .gallery-media-navigators {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      justify-self: center;
      ul {
        display: flex;
        align-items: center;
        li {
          display: flex;
          align-items: center;
          &:not(:first-child)::before {
            content: "";
            display: inline-block;
            border-radius: 50%;
            margin: 0 0.7rem;
            width: 0.5rem;
            height: 0.5rem;
            background-color: #ff0099;
          }
          a {
            cursor: pointer;
            background-color: #fafafa;
            padding: 0.5rem 2rem;
            border-radius: 5rem;
            box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
            color: #4e4e4e;
            font-weight: 600;
            display: flex;
            align-items: center;
            transition: all 0.2s ease-out;
            svg {
              width: 2.4rem;
              height: 2.4rem;
              fill: currentColor;
            }

            .gallery-btn-label {
              display: none;
            }

            &:hover {
              background-color: #f1f1f1;
            }
          }
        }
      }
    }
    .details {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, auto);
      row-gap: 2rem;
      .specification {
        display: grid;
        grid-template-rows: repeat(4, auto);
        grid-row-gap: 1rem;
        margin: 0 1.5rem;
        > div {
          padding: 0 2rem;
        }
        .id {
          font-weight: 600;
          grid-row: 1 / 2;
          display: grid;
          grid-template-columns: repeat(3, max-content) 1fr;
          align-items: center;
          grid-column-gap: 1.5rem;
          text-transform: uppercase;
          .apart-id {
            color: #707070;
            span {
              color: #ff0099;
            }
          }
          .type {
            font-weight: 600;
          }
          a.register {
            width: 2.5rem;
            height: 2.5rem;
            justify-self: end;
            svg {
              width: 100%;
              height: 100%;
              fill: #ff0099;
            }
          }
        }
        .price {
          grid-row: 2 / 3;
          display: grid;
          grid-template-columns: repeat(2, max-content);
          grid-template-rows: repeat(2, max-content);
          column-gap: 0.5rem;
          .old {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            font-weight: 500;
            font-size: 1.5rem;
            text-decoration: line-through;
            color: grey;
            margin-bottom: -0.8rem;
            justify-self: end;
          }
          .current {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            font-weight: bold;
            font-size: 2.8rem;
            color: #ff0099;
          }
          .units {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            display: grid;
            text-transform: uppercase;
            p {
              color: #4e4e4e;
              font-weight: 600;
              font-size: 1.2rem;
              &:first-of-type {
                color: #707070;
                font-size: 1rem;
                font-weight: normal;
                align-self: end;
              }
            }
          }
        }
        .address {
          text-transform: capitalize;
          grid-row: 3 / 4;
          p.value {
            font-size: 2.4rem;
            font-weight: bold;
          }
          .sub {
            font-size: 1.4rem;
            font-weight: normal;
            .pink_dot {
              margin: 0 1rem;
              vertical-align: middle;
            }
          }
        }
        .components {
          grid-row: 4 / -1;
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          font-size: 1.4rem;
          > * {
            display: flex;
            padding: 0.5rem 1rem;
            border-radius: 3rem;
            background-color: #fafafa;
            box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
            margin: 0.5rem;
          }
          .value {
            font-weight: 600;
          }
          .measure_full {
            text-transform: capitalize;
          }

          sup {
            font-size: 0.8rem;
          }
        }
      }
      .main-content {
        display: grid;
        grid-row-gap: 4rem;
        .side_margin {
          margin: 0 1.5rem;
        }
        article {
          h2.title {
            //margin-bottom: 2.5rem;
            font-size: 2rem;
            font-weight: normal;
            text-transform: uppercase;
          }
          > div {
            margin-left: 1.5rem;
            h3 {
              color: #4e4e4e;
              font-size: 1.6rem;
              font-weight: 500;
              text-transform: uppercase;
              padding: 0.5rem 0;
              margin-bottom: 1rem;

              &::after {
                position: relative;
                top: 0.3rem;
                content: "";
                display: block;
                width: 4rem;
                height: 0.2rem;
                background-color: #ff0099;
              }
            }
            ul.composers {
              //display: flex;
              //flex-wrap: wrap;
              font-size: 1.3rem;
              font-weight: 400;
              //align-items: flex-start;
              li {
                display: flex;
                align-items: center;
                flex-basis: 31%;
                margin-right: 2.5rem;
                &::before {
                  content: "";
                  display: inline-block;
                  border-radius: 50%;
                  margin-right: 0.7rem;
                  width: 0.5rem;
                  height: 0.5rem;
                  background-color: #ff0099;
                }
                &:not(:last-of-type) {
                  margin-bottom: 1rem;
                }
              }
            }
          }
          &.apart-content {
            display: grid;
            grid-row-gap: 2rem;
            .description {
              p {
                margin-bottom: 1rem;
              }
            }
            .external {
            }
            .internal {
            }
            .conditions {
              ul.composers {
                li {
                  margin-right: 0;
                }
              }
            }
          }
          &.disclaimer {
            font-size: 1.4rem;
            font-weight: 500;
            background: #f4f4f4;
            box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
            border-radius: 5px 5px 0 0;
            border-bottom: 2px solid #ff0099;
            padding: 2rem;
          }
          &.map {
            //padding: 0 2rem;
            > div {
              padding: 0;
              margin: 0;
            }
          }
          &.open-hours {
            display: grid;
            grid-row-gap: 2rem;
            .summer-alert {
              display: flex;
              align-items: flex-start;
              //margin-bottom: 2rem;
              //margin-left: 1.6rem;
              //background-color: yellow;
              svg {
                width: 2rem;
                height: 2rem;
                min-width: 1.5rem;
                min-height: 1.5rem;
                fill: transparent;
                margin-right: 0.8rem;
              }
            }
            ul.datetime-info {
              justify-self: center;
              display: grid;
              grid-template-rows: repeat(7, 4rem);
              align-items: center;
              width: 29rem;
              li {
                display: grid;
                grid-template-columns: 1fr 7rem 1fr;
                align-items: center;
                font-size: 1.4rem;
                font-weight: 500;
                .day {
                }
                .separator {
                  width: 4rem;
                  height: 0.2rem;
                  background-color: #ff0099;
                }
                .hours {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  > *:not(:last-child) {
                    margin-right: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
    .contact {
      grid-column: 1 / -1;
      grid-row: 3 / -1;
      justify-self: center;
      max-width: 50rem;
      margin: 0 1.5rem;
      & *:first-letter {
        text-transform: capitalize;
      }
    }
  }
  .line-separator {
    background-color: #ff0099;
    width: 6rem;
    height: 0.2rem;
    border-radius: 0.5rem;
    justify-self: center;
  }
  h3.featured-apparts-title {
    font-weight: normal;
    justify-self: center;
    text-transform: uppercase;
    font-size: 2rem;
  }
  .featured-apparts {
    justify-self: center;
    .featured-appart-card {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
      border-radius: 1rem;
      overflow: hidden;
      .featured-appart-image {
        width: 25rem;
        height: 15rem;
        overflow: hidden;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .featured-appart-spec {
        display: grid;
        row-gap: 0.8rem;
        font-size: 1.6rem;
        padding: 1.5rem;
        background-color: #fafafa;
        .id {
          display: flex;
          justify-content: space-between;
          font-size: 1rem;
          font-weight: 600;
          margin-bottom: -1.5rem;
          .apart-id {
            &::before {
              content: "#";
              color: #ff0099;
            }
          }
          .register {
            display: inline-block;
            cursor: pointer;
            width: 3.5rem;
            height: 3.5rem;
            background-color: #ff0099;
            border-radius: 50%;
            padding: 0.8rem;
            transform: translateY(-95%);
            transition: all 0.2s ease-out;
            &:hover {
              background-color: #fff;
              padding: 0.5rem;
              svg {
                fill: #ff0099;
              }
            }
            svg {
              width: 100%;
              height: 100%;
              fill: #fff;
            }
          }
        }
        .price {
          display: grid;
          grid-template-columns: repeat(2, max-content);
          grid-template-rows: repeat(2, max-content);
          column-gap: 0.5rem;
          .current {
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            color: #ff0099;
            font-weight: bold;
            font-size: 3.2rem;
          }
          .units {
            grid-row: 1 / 3;
            align-self: center;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            .currency {
              color: #707070;
              font-size: 1rem;
            }
            .period {
              color: #4e4e4e;
              font-weight: 600;
              font-size: 1.2rem;
            }
          }
        }
        .address {
          font-size: 1.8rem;
          font-weight: 600;
        }
        .components {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}

.pink_dot {
  display: inline-block;
  background-color: #ff0099;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .details-container {
    .gallery {
    }
    .wrapper {
      .gallery-media-navigators {
        ul {
          li {
            a {
              svg {
                margin-right: 1rem;
              }
              .gallery-btn-label {
                display: unset;
              }
            }
          }
        }
      }
      .details {
        .specification {
          .id {
            a.register {
              justify-self: start;
            }
          }
        }
        .main-content {
          article {
            &.open-hours {
              ul.datetime-info {
                justify-self: start;
                margin-left: 1.6rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .details-container {
    .gallery {
    }
    .wrapper {
      .details {
        grid-column: 1 / span 2;
        grid-row: 1 / -1;
      }
      .contact {
        grid-column: 3 / -1;
        grid-row: 1 / -1;
        position: relative;
        .contact-sticky {
          position: sticky;
          top: 10rem;
        }
      }
    }
  }
}
