.card_container{
  display: grid;
  width: 75vw;
  transition: all .1s ease-in;
  transform-origin: center;
  .gallery{
    position: relative;
    transition: all .2s ease-in;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    width: 100%;
    border-radius: 2rem 2rem 0 0;
    overflow: hidden;
    box-shadow:  0 0 .5rem rgba(black, .2);
    img{
      width: 100%;
    }
    .favourite{
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(-50%);
      cursor: pointer;
      //background-color: #fff;
      //border-radius: 50%;
      //width: 4.5rem;
      //height: 4.5rem;
      svg{
        transition: all .2s ease-in;
        width: 3.2rem;
        //height: 3.2rem;
      }
    }
    .fav_clicked{
      fill: #ff0099;
    }
  }
  svg{
    width: 3rem;
    height: 3rem;
    fill: white;
  }
  .details{
    transition: all .2s ease-in;
    z-index: 1;
    grid-column: 1 / 2;
    grid-row: 3 / 7;
    display: grid;
    //row-gap: 1rem;
    background-color: #414040;
    border-radius: 2rem;
    overflow: hidden;
    padding: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    box-shadow:  0 0 .5rem rgba(black, .2);
    i.dot{
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: #FF0099;
    }
    .gallery_nav{
      position: relative;
      margin-top: -1rem;
      ul{
        display: grid;
        grid-template-columns: repeat(6, auto);
        column-gap: 1rem;
        justify-content: center;
        align-items: center;
        li{
          a{
            display: block;
            border-radius: 50%;
            width: 1rem;
            height: 1rem;
            background-color: lighten($color: #414141, $amount: 5);
            &.selected{
              background-color: #FF0099;
              width: 2rem;
              border-radius: 2rem;
            }
          }
        }
      }
    }
    .apart_id{
      display: grid;
      grid-template-columns: 1rem auto;
      font-size: 1.5rem;
      font-weight: 600;
      span{
        color: #FF0099;
      }
      p{

      }
    }
    .price{
      display: grid;
      column-gap: .2rem;
      grid-template-columns: 1fr auto auto;
      text-transform: uppercase;
      p{
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        font-size: 2.5rem;
        font-weight: 600;
      }
      > div {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-row: 2 /3;
        grid-column: 3 / 4;
      }
      small{
        align-self: end;
        color: rgba($color: white, $alpha: .5)
      }
      span{
        &.period{
          font-weight: 600;
          color: #FF0099;
        }
        &.type{
          align-self: end;
          grid-column: 2 / 4;
          grid-row: 1 / 2;
          color: white;
          font-weight: 600;
          font-size: 1.4rem;
          display: flex;
          align-items: center;
          &::before{
            content: '';
            display: block;
            width: .5rem;
            height: .5rem;
            background-color: #ff0099;
            border-radius: 50%;
            margin-right: .5rem;
          }
        }
      }
    }
    .location{
      text-transform: uppercase;
      margin-bottom: .5rem;
      span{
        color: rgba($color: white, $alpha: .5);
      }
      p{
        display: flex;
        align-items: baseline;
        font-size: 1.5rem;
        font-weight: 600;
        i{
          margin: 0 .2rem;
        }
      }
    }
    .specs{
      display: grid;
      row-gap: 1rem;
      grid-template-columns: repeat(4, auto);
      //grid-template-rows: repeat(3, auto);
      text-transform: uppercase;
      span{
        color: rgba($color: white, $alpha: .5);
      }
      p{
        display: flex;
        align-items: baseline;
        font-size: 1.5rem;
        font-weight: 600;
        span{
          color: unset;
          margin: 0 .2rem;
          sup{
            font-size: .8rem;
          }
        }
      }
      .pieces{

      }
      .rooms{

      }
      .description{
        grid-row: 1 / -1;
        grid-column: 2 / -1;
        cursor: pointer;
        p{
          position: relative;
          margin-right: -3rem;
          font-size: 1.2rem;
          text-align: right;
          font-weight: 400;
          padding: 1rem;
          border-radius: 3rem 0 0 1rem;
          background-color: lighten($color: #414041 , $amount: 3)
        }
      }
    }
    .contact{
      display: grid;
      //column-gap: 1rem;
      grid-template-columns: auto auto 1fr;
      column-gap: 1.5rem;
      align-items: center;
      position: relative;
      //right: -1rem;
      //bottom: -1rem;
      margin-top: 2rem;
      .message{
        //align-self: end;
        //padding-bottom: 1rem;
        a{

        }
      }
      .call{
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #ff0099;
          //box-shadow: inset 0 0 .5rem rgba($color: #000000, $alpha: .5);
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          svg{
            fill: white;
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }
  }
}

.divider{
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}
.divider::after{
  content: '';
  display: block;
  width: 3rem;
  height: .5rem;
  background-color: #4E4E4E;
  border-radius: 1rem;
}

.onDetails{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.unRound{
  border-radius: unset !important;
}
