@media (min-width: 500px) {
  .nav{

  }
}
nav{
  transition: all .1s ease-in;
  background-color: white;
  position: fixed;
  top: 0;
  left: -100vw;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
header{
  position: sticky;
  top: 0;
  z-index: 3;
}
main{
  //background-color: darkgoldenrod;
  margin-top: 2rem;
}
footer{
  //background-color: darkslateblue;
}
.open{
  left: 0;
}
.overlay{
  transition: all .1s ease-in;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: white, $alpha: .7);
  visibility: hidden;
  opacity: 0;
  z-index: 100;
}
.showOverlay{
  visibility: visible;
  opacity: 1;
}

