<!--
<div>
  <div class="gallery">
    <ul *ngFor="let src of apart.imgSrc; index as i">
      <li><img src="assets/media/{{src}}" [alt]="i"></li>
    </ul>
    <ul class="nav_points">
      <li><a><span></span></a></li>
      <li><a><span></span></a></li>
      <li><a><span></span></a></li>
      <li><a><span></span></a></li>
      <li><a><span></span></a></li>
      <li><a><span class="selected"></span></a></li>
    </ul>
  </div>
  <div class="details">
    <div class="apart_id">
      <p><span>#</span>{{apart.id}}</p>
    </div>
    <div class="apart_price">
      <div class="pusher"></div>
      <div>
        <p>{{apart.price}}</p>
        <small>dh</small>
        <span>nuité</span>
      </div>
      <div>
        <p>{{apart.type}}</p>
      </div>

    </div>
    <div class="apart_location">
      <span class="label">ville</span>
      <p>{{apart.location}}</p>
    </div>
    <div class="apart_mix">
        <ul>
          <li>
            <span class="label">surface</span>
            <p>{{apart.specs.surface}} M<sup>2</sup> <i></i></p>
          </li>
          <li>
            <span class="label">pièces</span>
            <p>{{apart.specs.pieces < 10 ? '0' + apart.specs.pieces: apart.specs.pieces}} P<i></i></p>
          </li>
          <li>
            <span class="label">chambres</span>
            <p>{{apart.specs.rooms < 10 ? '0' + apart.specs.rooms : apart.specs.rooms}} C<i></i></p>
          </li>
        </ul>
        <div class="apart_mix&#45;&#45;description">
          <p>{{apart.description}}</p>
        </div>
    </div>
    <div class="apart_phone">
      <div class="message">
        <a>
          <svg>
&lt;!&ndash;            <use href="assets/svg/message.svg#message"></use>&ndash;&gt;
          </svg>
        </a>
      </div>
      <div class="call">
        <a>
          <svg>
            <use href="assets/svg/phone.svg#phone"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>

-->

<div class="card_container">
  <div class="gallery">
    <ul>
      <li><a ><img src="assets/media/img-1.jpg"></a></li>
    </ul>
  </div>
  <div class="details">
    <div class="gallery_nav">
      <ul>
        <li><a></a></li>
        <li><a></a></li>
        <li><a></a></li>
        <li><a></a></li>
        <li><a class="selected"></a></li>
        <li><a></a></li>
      </ul>
    </div>
    <div class="apart_id">
      <span>#</span>
      <p>E-7810</p>
    </div>
    <div class="price">
      <p>3500</p>
      <small>dh</small>
      <span class="period"> / mois</span>
      <span class="type">maison.</span>
    </div>
    <div class="location">
      <span>ville</span>
      <p>marrakech <i class="dot"></i> </p>
    </div>
    <div class="specs">
      <div class="surface">
        <span>surface</span>
        <p>75 <span>m<sup>2</sup></span> <i class="dot"></i> </p>
      </div>
      <div class="pieces">
        <span>pieces</span>
        <p>03 <span>p</span> <i class="dot"></i> </p>
      </div>
      <div class="rooms">
        <span>chambres</span>
        <p>02 <span>c</span> <i class="dot"></i> </p>
      </div>
      <div class="description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, culpa.</p>
      </div>
    </div>
    <div class="contact">
      <div class="message">
        <a>
          <svg>
            <use href="assets/svg/sprite.svg#message"></use>
          </svg>
        </a>
      </div>
      <div class="call">
        <a href="tel:0626629199">
          <svg>
            <use href="assets/svg/sprite.svg#call"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
