<div class="switch_container">
  <div class="switch" [ngStyle]="{backgroundColor: bgColor}">
    <div class="switch_item">
      <input  id="{{switchValues.label}}-{{switchValues.values[0]}}" type="radio" name="{{switchValues.label}}" value="{{switchValues.values[0]}}">
      <label for="{{switchValues.label}}-{{switchValues.values[0]}}" (click)="onChange(switchValues.values[0])">{{switchValues.values[0]}}</label>
    </div>
    <div class="switch_item">
      <input  id="{{switchValues.label}}-{{switchValues.values[1]}}" type="radio" name="{{switchValues.label}}" value="{{switchValues.values[1]}}">
      <label for="{{switchValues.label}}-{{switchValues.values[1]}}" (click)="onChange(switchValues.values[1])">{{switchValues.values[1]}}</label>
    </div>
  </div>
</div>
