@media (min-width: 500px) {
  .filters{
    width: 60vw !important;
  }
}
.filters{
  transition: all .1s ease-in;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100%;
    margin: auto;
    width: 85vw;
    max-height: 90vh;
    padding: 2.5rem 3.5rem;
    background-color: #F7F7F7;
    box-shadow: 0 -0.2rem 0.6rem rgba($color: #000000, $alpha: .1);
    border: 1px solid rgba($color: #000000, $alpha: .1);
    border-bottom: none;
    border-radius: 2rem 2rem 0 0;
    form{
      overflow: hidden;
      overflow-x: scroll;
      display: grid;
      row-gap: 2.5rem;
      .buttons{
        position: relative;
        display: flex;
        justify-content: space-between;
        // border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
        padding-bottom: 1.5rem;
        //margin-bottom: 2rem;
        &::after{
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 20rem;
          height: 1px;
          background-color: rgba($color: #000000, $alpha: .1);
        }
        button{
          display: flex;
          align-items: center;
          border: none;
          background: none;
          font-family: "Montserrat", sans-serif;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 1rem;
          color: #4E4E4E;
          &[role='button']{
            color: rgba($color: #000000, $alpha: .5);
          }
          span{
            margin-right: 0.3rem;
          }
        }
        .selectOptions{
          display: grid;
          row-gap: 1rem;
          background-color: darkslateblue;
        }
        svg{
          width: 2rem;
          height: 2rem;
          fill: #FF0099;
        }
      }
      .specs{
        display: grid;
        row-gap: 2.5rem;
        //padding: 0 1rem;
        > div {
          display: grid;
          grid-template-columns: repeat(2, auto);
          grid-template-rows: repeat(2, auto);
          column-gap: 2rem;
          row-gap: 1.3rem;
          h3{
            grid-column: 1 / span 2;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1rem;
            color: #4E4E4E;
            float: left;
            &.iconed{
              grid-column: unset;
              display: flex;
              //background-color: yellowgreen;
              svg{
                width: 1.3rem;
                height: 1.3rem;
                fill: rgba(black, .7);
                margin-left: .5rem;
              }
            }
          }

          div{
            justify-self: center;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-bottom: 1px solid #ff0099;
            width: 80%;
            svg{
              width: 1.5rem;
              height: 1.5rem;
              fill: rgba(black, .4);
            }
            input{
              width: 50%;
              background: none;
              border: none;
              outline: none;
              padding: .7rem 0 .7rem .5rem;
              font-size: 1.2rem;
              font-weight: 600;
              &::placeholder{
                color: rgba(black, .2);
              }
            }
          }
        }
        .pieces, .rooms{
          .numbers{
            grid-column: 1 / span 2;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            column-gap: .4rem;
            border-bottom: none;
            div{
              border-bottom: none;
              label{
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid rgba(black, .2);
                border-radius: .8rem;
                width: 4rem;
                height: 3.2rem;
                font-size: 1.2rem;
                font-weight: 600;
                color: #4e4e4e;
                cursor: pointer;
                transition: all .1s ease-in;
              }
              input[type="checkbox"]{
                display: none;
                &:checked + label{
                  border: 1px dashed #FF0099;
                  border-bottom: .5rem solid #FF0099;
                }
              }
            }

          }
        }
      }
    }
  }
.slide_up{
  bottom: 0;
}
