<div class="filters" [ngClass]="{slide_up: slideUp}">
    <form [formGroup]="formFilters" (ngSubmit)="onSubmit()">
      <div class="buttons">
        <button role="button" type="reset" (click)="onReset()">annuler</button>
        <button type="submit">
          <span>valider</span>
          <svg>
            <use href="assets/svg/check.svg#check"></use>
          </svg>
        </button>
      </div>
      <div>
      <app-switch [switchValues]="switchArray[0]" (onSwitch)="assignValue($event)"></app-switch>
      <app-custom-select *ngFor="let select of selectArray" [selectOption]="select" (onItem)="assignValue($event)"></app-custom-select>
      </div>
      <div class="specs">
        <div class="price" formGroupName="price">
          <h3>prix : dh</h3>
          <div>
            <label for="min_price">
              <svg>
                <use href="assets/svg/price.svg#price"></use>
              </svg>
            </label>
            <input id="min_price" type="number" placeholder="MIN" formControlName="minPrice">
          </div>
          <div>
            <label for="max_price">
              <svg>
                <use href="assets/svg/price.svg#price"></use>
              </svg>
            </label>
            <input id="max_price" type="number" placeholder="MAX" formControlName="maxPrice">
          </div>
        </div>
        <div class="surface" formGroupName="surface">
          <h3>superficie : m<sup>2</sup></h3>
          <div>
            <label for="min_surface">
              <svg>
                <use href="assets/svg/pieces.svg#pieces"></use>
              </svg>
            </label>
            <input id="min_surface" type="number" placeholder="MIN" formControlName="minSurface">
          </div>
          <div>
            <label for="max_surface">
              <svg>
                <use href="assets/svg/pieces.svg#pieces"></use>
              </svg>
            </label>
            <input id="max_surface" type="number" placeholder="MAX" formControlName="maxSurface">
          </div>
        </div>
        <div class="pieces">
          <h3 class="iconed">pièces
            <svg>
              <use href="assets/svg/info.svg#info"></use>
            </svg>
          </h3>
          <div class="numbers">
            <div *ngFor="let piece of pieces; index as i">
              <input id="p{{i}}" type="checkbox" [value]="piece.value" (change)="onChange($event, 'pieces')">
              <label for="p{{i}}">{{piece.value > 4 ? '4+' : piece.value}}</label>
            </div>
          </div>
        </div>
        <div class="rooms">
          <h3 class="iconed">chambres
            <svg>
              <use href="assets/svg/info.svg#info"></use>
            </svg>
          </h3>
          <div class="numbers">
            <div *ngFor="let piece of pieces; index as i">
              <input id="r{{i}}" type="checkbox" [value]="piece.value" (change)="onChange($event, 'rooms')">
              <label for="r{{i}}">{{piece.value > 4 ? '4+' : piece.value}}</label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
