.slide{
  position: relative;
  width: 100%;
  overflow: hidden;
  .slider{
    transition: margin .2s cubic-bezier(0,1.05,.8,.98);
    display: flex;
    &_item{
      width: 85vw;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
    }
    img{
      width: 100%;
    }
  }
}

.dots{
  position: relative;
  z-index: 2;
  top: -4.5rem;
  display: flex;
  justify-content: center;
  .dot{
    transition: all .5s cubic-bezier(0,1,.49,1.25);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #4E4E4E;
    margin-right: .5rem;
    &:last-of-type{
      margin-right: 0;
    }
  }
}
.active{
  width: 1.5rem !important;
  border-radius: 1rem !important;
  background-color: #ff0099 !important;
}

.controls{
  position: relative;
  z-index: 15;
  display: flex;
  justify-content: space-between;
  button{
    display: none;
    border: none;
    padding: 1rem 2rem;
  }
}
@keyframes fadeIn {
  25%  {opacity: .25}
  50%  {opacity: .50}
  75%  {opacity: .75}
  100% {opacity: 1}
}
.fadeInOut{
  opacity: 1;
  //margin-left: 0;
}

.resizeSliderItem{
  width: 100vw !important;
}

