.slide{
  position: relative;
  width: 100%;
  overflow: hidden;
  .slider{
    transition: margin .3s cubic-bezier(1,0,1,1);
    display: flex;
    &_item{
      width: 100vw;
    }
    img{
      width: 100%;
    }
  }
}
.controls{
  position: relative;
  z-index: 15;
  display: flex;
  justify-content: space-between;
  button{
    display: none;
    border: none;
    padding: 1rem 2rem;
  }
}
@keyframes fadeIn {
  25%  {opacity: .25}
  50%  {opacity: .50}
  75%  {opacity: .75}
  100% {opacity: 1}
}
.fadeInOut{
  opacity: 1;
  //margin-left: 0;
}

