/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}
body{
  height: 1300px;
  overflow-x: hidden;
}
.price.ng-touched{
  &.ng-invalid{
    //border: 1px solid crimson;
  }
}
