<div class="favourite_container">
  <h1>mes favoris</h1>
  <h3>{{count}} favoris</h3>
  <div class="favourite_list">
    <div class="favourite">
      <div class="bgImage">
        <img src="assets/media/img-1.jpg" alt="">
      </div>
      <div class="gradient"></div>
      <div class="elements">
        <div class="id"><span>#</span>2710</div>
        <a class="delete" (click)="delete('36215499')">
          <svg>
            <use href="assets/svg/sprite.svg#delete"></use>
          </svg>
        </a>
        <div class="type">maison</div>
        <div class="price">
          <div class="old"></div>
          <div class="current">350</div>
          <div class="unit">DH</div>
          <div class="period">nuité</div>
        </div>
        <div class="components">
          <div class="surface">
            <span class="label">surface</span>
            <p>75 m<sup>2</sup>.</p>
          </div>
          <div class="pieces">
            <span class="label">pièces</span>
            <p>03 P.</p>
          </div>
          <div class="rooms">
            <span class="label">chambres</span>
            <p>02 C.</p>
          </div>
          <div class="floors">
            <span class="label">étages</span>
            <p>02 E.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
